{% extends 'base.html.twig' %}

{% block title %} Create a new member {% endblock %}

{% block body %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

<h1> Create a member space for your new member</h1>

<div class="registration container">

{{ form(registrationForm, {'attr':{'id':'registrationForm'}}) }}

</div>

{% endblock %}
