body {
    background-color: lightgray;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
}

.list-group-item-action {
    background-color: #593196 !important;
    pointer-events: none;
    border: solid white;
}

section {
    margin-top: 2%;
}