{% extends 'base.html.twig' %}

{% block body %}


<div class="bggForm container">
    <form action="" id="searchBGG">
        <label for="bgg"> Rechercher un jeu sur BGG : </label>
        <input name="search" type="text" id="bgameBGG">
        <button  class="btn btn-primary" type="submit"> Rechercher </button>
    </form>

    <div><h2>Liste des jeux trouvés</h2>
        <div id="bggame"></div>

    </div>
</div>

{% endblock %}