{% extends 'base.html.twig' %}

{% block title %}Ajouter un jeu {% endblock %}

{% block body %}
{% form_theme addForm 'bootstrap_4_layout.html.twig' %}
<div class="addForm container">
{{ form(addForm) }}
</div>

{% endblock %}
