{% extends 'base.html.twig' %}


{% block title %}Ajouter un jeu {% endblock %}

{% block body %}
{% form_theme addForm 'bootstrap_4_layout.html.twig' %}


<div class="bggForm container">
    <form action="" id="searchBGG">
        <label for="bgg"> Rechercher un jeu sur BGG : </label>
        <input name="search" type="text" id="bgameBGG">
        <button  class="btn btn-primary" type="submit"> Rechercher </button>
    </form>


<form action="" id="bggchoice" method="post">
  <p>
    <label for="bggame">Liste des jeux trouvés</label></br>
        <select name="bggame" id="bggame">
        </select>
      
     <button type="submit" class="btn btn-primary" id="fillForm"> Remplir </button>   
  </p>  
</form>
</div>

<div class="addForm container">

{{ form(addForm, {'attr':{'id':'addForm'}}) }}
</div>

{% endblock %}
