{% extends 'base.html.twig' %}


{% block title %}Add a Boarding Game {% endblock %}

{% block body %}
{% form_theme addForm 'bootstrap_4_layout.html.twig' %}
{% form_theme addForm "@FOSCKEditor/Form/ckeditor_widget.html.twig" %}


<div class="bggForm container">
    <form action="" id="searchBGG">
        <label for="bgg"> Looking on BGG : </label>
        <input name="search" type="text" id="bgameBGG">
        <button  class="btn btn-primary" type="submit"> Search </button>
    </form>

<form action="" id="bggchoice" method="post">
  <p>
    <label for="bggame">Boarding Games Find :</label></br>
        <select name="bggame" id="bggame">
        </select>
      <input type="hidden" name="_method" value="PUT"/>
     <button type="submit" class="btn btn-primary" id="fillForm"> Fill the form </button>   
  </p>  
</form>
</div>
{% if bgameExist %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>The game <strong> {{bgameName}} </strong>  is already in your ludo</p>
 
</div>


{% endif %}

<div class="addForm container">

{{ form(addForm, {'attr':{'id':'addForm'}}) }}

</div>

{% endblock %}
 

